* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: peachpuff;
}

#loadingSpinner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    background-color: peachpuff;
}

@keyframes wronganswer {
    0% {
        background-color: peachpuff;
    }
    99% {
        background-color: rgba(255, 0, 0, 0.6);
    }
    100% {
        background-color: peachpuff;
    }
}

#profileUsername, #aboutHeader {
    padding-top: 30px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#aboutTopH3 {
    padding-top: 30px;
}

.pageContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 65px;
    animation-name: wronganswer;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

#homePageContent {
    width: 90vw;
    text-align: center;
}

#userSearchForm {
    padding-top: 30px;
}

.profileContent {
    padding-top: 65px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.homeContent {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#goButton {
    width: 150px;
    height: 40px;
    margin-top: 20px;
    background-color: papayawhip;
    border-radius: 5px;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#goButton:hover {
    cursor: pointer;
}

#homeText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
}

.homeH2, .homeH3, .homeP {
    width: 100%;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homeH2 {
    padding-top: 30px;
}

.homeH3 {
    padding-top: 15px;
}

#layoutNavbar {
    position: fixed;
    z-index: 1;
    top: 0;
    width: calc(100vw - (100vw - 100%));
    background-color: rgb(250, 250, 250);
    height: 65px;
    border-bottom: 2px solid black;
}

.buttonList {
    height: 100%;
}

.navButton {
    display: inline-block;
    border: 0;
    height: 100%;
    color: black;
    text-align: center;
    line-height: 65px;
    font-size: 17px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: pointer;
}

.navButton a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    height: 100%;
}

#homeIcon {
    width: 65px;
}

#menuBars {
    width: 65px;
}

#settingsButton {
    float: right;
    margin-right: 15px;
}

#settingsPassword {
    padding-top: 100px;
}

#settingsSelect {
    display: flex;
    right: 15px;
    z-index: 1;
    position: fixed;
    margin-top: 55px;
    text-align: right;
    border: 1px solid black;
    border-radius: 3px;
}

#loggedInMenu, #loggedOutMenu {
    display: flex;
    left: 15px;
    z-index: 1;
    position: fixed;
    margin-top: 55px;
    border: 1px solid black;
    border-radius: 3px;
}

#loggedInMenu a, #loggedOutMenu a {
    text-decoration: none;
    color: black;
}

.selectP {
    background-color: papayawhip;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 7px;
    cursor: pointer;
}

.selectP a {
    text-decoration: none;
    color: black;
}

.selectP:hover {
    background-color: peachpuff;
}

#hiscoreButton, #trainButton, #rulesButton {
    margin-right: 10px;
}

#loginButton {
    float: right;
    margin-right: 15px;
}

#registerButton {
    float: right;
    margin-right: 15px;
}

#homePage {
    display: flex;
    align-items: center;
    justify-content: center;
}

#scoreDiv,
#counterDiv,
#questionDiv,
#answerDiv {
    height: 5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4vh;
}

#answerDiv {
    margin-bottom: 10px;
}

#questionDiv {
    margin-top: 5vh;
}

#startDiv {
    height: calc(20vh + 10px);
    padding-top: calc(3vh - 10px);
}

#startButton {
    width: 100%;
    background-color: rgb(12, 187, 12);
    height: 7vh;
    border-radius: 5px;
    font-size: 2.5vh;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.3) inset;
    transition: all 0.1s ease;
}

#startButton:hover {
    box-shadow: 1px 1px 1px 3px rgba(255, 255, 255, 0.4) inset; /* Add a bigger shadow on hover */
    transform: translateY(2px); /* Move the button down on hover */
}

.digit {
    background-color: rgb(37, 142, 223);
    border-style: solid;
    text-align: center;
    width: 20vw;
    height: 20vw;
    padding: 0;
    margin: 0;
}

#calculatorTable {
    border-collapse: collapse;
    margin: auto;
    margin-bottom: 0;
}

#submitTd {
    column-span: "2";
    background-color: rgb(12, 187, 12);
}

#calculatorField {
    display: grid;
    justify-content: center;
}

.tdButton {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-weight: bold;
    box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.3) inset;
    transition: all 0.05s;
    font-size: 3vh;
}

.tdButton:active {
    box-shadow: 1px 1px 1px 3px rgba(255, 255, 255, 0.4) inset; /* Add a bigger shadow on hover */
    transform: translateY(2px); /* Move the button down on hover */
}

#delButton {
    background-color: rgb(255, 170, 0);
}

#clearButton {
    background-color: red;
}

.calcSelect {
    height: 7vh;
    width: 49%;
    padding-top: 2px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4vh;
    border: 2px solid black;
}

.calcSelect:hover {
    cursor: pointer;
}

#levelSelect {
    float: right;
}

.hsSelect {
    height: 30px;
    width: 40%;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border: 2px solid black;
}

.hsSelect:hover {
    cursor: pointer;
}

#searchButton {
    height: 30px;
    width: 30px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: papayawhip;
    border-radius: 5px;
    cursor: pointer;
}

#userSearchInput {
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
}

#insideForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hiscoreContent {
    margin: auto;
    padding-top: 30px;
}

#hiscoreTable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    font-weight: bold;
}

.hiscoreTr1 {
    border-top: 2px solid black;
    height: 35px;
    font-size: 14px;
    background-color: white;
}

.hiscoreTr2 {
    border-top: 2px solid black;
    height: 35px;
    font-size: 14px;
    background-color: papayawhip;
}

.hiscoreTh {
    height: 35px;
    text-align: left;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#profileTable {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    margin-top: 2vh;
}

.profileValueTd {
    text-align: right;
    border-top: 2px solid black;
    padding-right: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: monospace;
}

.profileKeyTd {
    border-top: 2px solid black;
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
    font-family: monospace;
}

.profileTr1 {
    height: 35px;
    background-color: papayawhip;
}

.profileTr2 {
    height: 35px;
    background-color: white;
}

.profileScoresTitle {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}

#profileBioDiv, #profileRankDiv, #profilePointsDiv {
    width: 100%;
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.badgePNG {
    width: 150px;
}

.hiscoreRankTd {
    padding-left: 7px;
    width: 15%;
}

.hiscoreScoreTd {
    text-align: right;
    padding-right: 7px;
    font-family: monospace;
}

#hiscoreScoreTh {
    text-align: right;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#loginPage {
    display: flex;
    justify-content: center;
    margin-top: 65px;
    height: calc(100vh - 125px);
}

#loginBox {
    background-color: papayawhip;
    width: 90vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 2px solid black;
    align-items: center;
}

.aboutH3, .aboutH5, .aboutP {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.aboutH3 {
    font-size: 21px;
}

.aboutH5, .aboutP {
    font-size: 16px;
}

.rankColor {
    color: rgb(7, 170, 255);
}

#settingsSelect a {
    text-decoration: none;
    color: black;
}

input {
    border: 2px solid black;
    font-family: monospace;
}

textarea {
    border: 2px solid black;
}

.changeSettings {
    width: 80%;
    margin-top: 3%;
    display: block;
}

#changeName {
    margin-top: 20%;
}

.countrySelect {
    width: 100%;
    height: 7vh;
}
.country-select {
    width: 100%;
}

#changePassword {
    padding-top: 20%;
    width: 80%;
}

#registerForm, #loginForm {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

#usernameDiv {
    margin-bottom: 7px;
}

.formLabel {
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#usernameInput {
    width: 100%;
    height: 45px;
    padding-left: 7px;
    border-radius: 3px;
}

.fieldInput {
    width: 100%;
    height: 7vh;
    padding-left: 7px;
}

.textfieldInput {
    width: 100%;
    height: 100px;
    padding: 7px;
    resize: none;
}

.hiscoreTd a {
    text-decoration: none;
    color: black;
    font-family: monospace;
}

.passwordInput {
    width: 100%;
    height: 45px;
    border-radius: 3px;
    padding-left: 7px;
    margin-bottom: 7px;
}

#loginSubmitButton {
    width: 100%;
    height: 32px;
    font-size: 14px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 7px;
}

.updateSettingsButton {
    width: 100%;
    height: 32px;
    font-size: 14px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 7px;
    margin-top: 10px;
    cursor: pointer;
}

#registerLink {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 14px;
}

.errMsg {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: red;
    margin-top: 20px;
}

#userSearchTable {
    padding-top: 25px;
}

.userSearchTr {
    height: 25px;
}

.userSearchLink {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 20px;
}

#userSearch404, #userSearchLength {
    text-align: center;
}

.successMsg {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
    margin-top: 20px;
    background-color: papayawhip;
}

@media (min-width: 500px) {

    #profileTable, #profileBioDiv, #hiscoreTable, #hiscoreContent, #loginBox {
        width: calc(500px - 10vw);
    }
}

@media (min-width: 450px) {
    .digit {
        height: 12vh;
        width: 12vh;
    }
}

@media (max-height: 750px) {
    #scoreDiv,
    #counterDiv,
    #questionDiv,
    #answerDiv {
        height: 4vh;
        font-size: 3vh;
    }

    #startDiv {
        height: calc(16vh + 10px);
        padding-top: calc(2vh - 10px);
    }

    #questionDiv {
        margin-top: 4vh;
    }

    .calcSelect {
        height: 7vh;
        font-size: 3vh;
    }

}

@media (max-width: 449px) {
    .digit {
        width: 30vw;
        height: 20vw;
    }
}

@media (min-width: 700px) {
    .profileContent {
        margin: auto;
        width: 680px;
    }
}

@media (max-height: 625px) {
    #loginPage {
        height: 500px;
        margin-top: 95px;
    }

    .homeContent {
        height: auto;
    }
}
